/* ImageGallery.css */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the width as needed */
  gap: 20px;
  max-width: calc(300px * 5 + 20px * 4); /* Ensure maximum of 5 columns */
  justify-content: start; /* Align items to the start of the grid container horizontally */
  align-items: start; /* Align items to the start of the grid container vertically */
  max-height: 300px;
}

.image-card {
  width: 300px; /* Set a fixed width for each image card */
  height: 300px; /* Set a fixed height for each image card */
}

.image-details {
  padding: 10px;
}
